name: ci

on:
  push:
    branches: ['main']

env:
  REGISTRY: ghcr.io
  VERSION: v14.2.0

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set environment variables
        run: |
          echo "IMAGE_NAME=${GITHUB_REPOSITORY@L}" >> "${GITHUB_ENV}"
          echo "LIBRARY_TAG=dns-server-${VERSION}" >> "${GITHUB_ENV}"
          echo "SERVER_TAG=${VERSION}" >> "${GITHUB_ENV}"

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          build-args: |
            LIBRARY_TAG=${{ env.LIBRARY_TAG }}
            SERVER_TAG=${{ env.SERVER_TAG }}
          platforms: linux/arm64
          push: true
          tags: |
            ghcr.io/${{ env.IMAGE_NAME }}:${{ env.VERSION }}
            ghcr.io/${{ env.IMAGE_NAME }}:latest
          labels: ${{ steps.meta.outputs.labels }}
